<div class="container">
    <div class="header">
        <mat-icon>person_add</mat-icon>
        <span>Register</span>
    </div>
    <div class="registration-form">
        <form [formGroup]="registrationForm" (ngSubmit)="submit(registrationForm)" class="registration-form" novalidate>
            <div class="registration">
                <div class="row">
                    <mat-form-field>
                        <input matInput placeholder="Enter your email" formControlName="login">
                        <mat-error>Invalid e-mail</mat-error>
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field>
                        <input type="password" matInput placeholder="Enter your password" formControlName="password">
                        <mat-error>
                            Invalid password, it should have 6 to 20 symbols, at least 1 digit and no spaces
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field>
                        <input type="password" matInput placeholder="Confirm your password" formControlName="passwordConfirmation">
                        <mat-error>
                            Invalid password, it should have 6 to 20 symbols, at least 1 digit and no spaces
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="row centered">
                    <span matTooltip="Please provide an e-mail and password" [matTooltipDisabled]="registrationForm.valid">
                        <button mat-stroked-button color="primary" type="submit" [disabled]="!registrationForm.valid">
                            Create account
                        </button>
                    </span>
                </div>

                <div class="registration-errors">
                    <div *ngIf="registrationErrorMessage">
                        <span class="">{{ registrationErrorMessage }}</span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>