.car-edit {
    display: flex;
    justify-content: space-around;

    .car-edit-form {
        width: 50%;
        display: flex;
        flex-direction: column;

        mat-checkbox {
            margin-bottom: 10px;
        }
    }
}

.actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;

    button {
        margin: 10px;
    }
}
