.space-filler {
    flex: 1 1 auto;
}

.logo {
    margin-right: 5px;
    margin-bottom: 3px;
}

.menu-buttons {
    margin-left: 40px;
}

.title {
    font-size: 18px;
}

.logged-in {
    span {
        font-size: 12px;
    }
}

.success-message {
    background-color: green;
}

.error-message {
    background-color: firebrick;
}

.warning-message {
    background-color: goldenrod;
}
